### Get Path file

In [1]:
# importing required modules
from zipfile import ZipFile
import os
  
def get_all_file_paths(directory):
  
    # initializing empty file paths list
    file_paths = []
  
    # crawling through directory and subdirectories
    for root, directories, files in os.walk(directory):
#         print(files)
        for filename in files:
            # join the two strings in order to form the full filepath.
            filepath = os.path.join(root, filename)
            file_paths.append(filepath)
  
    # returning all file paths
    return file_paths

In [2]:
directory ='./binance_min_price/1month'
Total_filename = get_all_file_paths(directory)
Total_filename_new = []
for i in Total_filename:
    if '.csv' in i:
        Total_filename_new.append(i)
        
Total_filename_new

['./binance_min_price/1month\\BTCUSDT-1h-2021-01.csv',
 './binance_min_price/1month\\BTCUSDT-1h-2021-02.csv',
 './binance_min_price/1month\\BTCUSDT-1h-2021-03.csv',
 './binance_min_price/1month\\BTCUSDT-1h-2021-04.csv',
 './binance_min_price/1month\\BTCUSDT-1h-2021-05.csv',
 './binance_min_price/1month\\BTCUSDT-1h-2021-06.csv',
 './binance_min_price/1month\\BTCUSDT-1h-2021-07.csv',
 './binance_min_price/1month\\BTCUSDT-1h-2021-08.csv',
 './binance_min_price/1month\\BTCUSDT-1h-2021-09.csv',
 './binance_min_price/1month\\BTCUSDT-1h-2021-10.csv',
 './binance_min_price/1month\\BTCUSDT-1h-2021-11.csv',
 './binance_min_price/1month\\BTCUSDT-1h-2021-12.csv',
 './binance_min_price/1month\\BTCUSDT-1h-2022-01.csv',
 './binance_min_price/1month\\BTCUSDT-1h-2022-02.csv']

### Concat dataframe

In [3]:
import pandas as pd
directory ='./binance_min_price'
Total_df = pd.DataFrame(columns = ['Open_time','Open', 'High', 'Low', 'Close',  'Volme', 'Close_Time',  'Quote_asset_volumn', 'Number_of_trades', 'buy_base_asset_volumn',  'buy_quote_asset_volumn','empty'])

for i in Total_filename:
    
    df = pd.read_csv(i, header=None)
    Total_df = pd.concat([Total_df,df.rename(columns={0: 'Open_time', 1: 'Open',2: 'High', 3: 'Low',4: 'Close', 5: 'Volme',6: 'Close_Time', 7: 'Quote_asset_volumn', 8: 'Number_of_trades',9: 'buy_base_asset_volumn', 10: 'buy_quote_asset_volumn',11:'empty'})],ignore_index=True)

In [4]:
Total_df

,Open_time,Open,High,Low,Close,Volme,Close_Time,Quote_asset_volumn,Number_of_trades,buy_base_asset_volumn,buy_quote_asset_volumn,empty
0,1609459200000,28923.63,29031.34,28690.17,28995.13,2311.811445,1609462799999,6.676883e+07,58389,1215.359238,3.510354e+07,0
1,1609462800000,28995.13,29470.00,28960.35,29409.99,5403.068471,1609466399999,1.583578e+08,103896,3160.041701,9.261399e+07,0
2,1609466400000,29410.00,29465.26,29120.03,29194.65,2384.231560,1609469999999,6.984265e+07,57646,1203.433506,3.525275e+07,0
3,1609470000000,29195.25,29367.00,29150.02,29278.40,1461.345077,1609473599999,4.276078e+07,42510,775.915666,2.270555e+07,0
4,1609473600000,29278.41,29395.00,29029.40,29220.31,2038.046803,1609477199999,5.961464e+07,55414,1003.342834,2.934638e+07,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10158,1646074800000,41204.65,41392.00,41009.28,41329.44,1927.695710,1646078399999,7.940764e+07,51014,1054.518240,4.343821e+07,0
10159,1646078400000,41329.44,41950.00,41248.41,41908.07,3794.773390,1646081999999,1.579844e+08,100504,1979.471270,8.241316e+07,0
10160,1646082000000,41908.08,41918.02,41500.56,41644.99,1373.721850,1646085599999,5.721327e+07,47247,641.481210,2.671555e+07,0
10161,1646085600000,41645.00,44225.84,41628.99,43026.44,8825.957450,1646089199999,3.815874e+08,309998,5113.794440,2.208654e+08,0
10162,1646089200000,43026.45,43346.92,42847.00,43160.00,4081.968880,1646092799999,1.760338e+08,110413,1944.728370,8.388715e+07,0

### Convert timestamp to datetime

In [5]:
import datetime

def convert_to_datetime(timestamp):
    date = datetime.datetime.fromtimestamp(timestamp / 1e3)
    return date

In [6]:
Total_df["Open_time"] = Total_df["Open_time"].apply(convert_to_datetime)

In [7]:
Total_df["Close_Time"] = Total_df["Close_Time"].apply(convert_to_datetime)

In [8]:
Total_df

,Open_time,Open,High,Low,Close,Volme,Close_Time,Quote_asset_volumn,Number_of_trades,buy_base_asset_volumn,buy_quote_asset_volumn,empty
0,2021-01-01 07:00:00,28923.63,29031.34,28690.17,28995.13,2311.811445,2021-01-01 07:59:59.999,6.676883e+07,58389,1215.359238,3.510354e+07,0
1,2021-01-01 08:00:00,28995.13,29470.00,28960.35,29409.99,5403.068471,2021-01-01 08:59:59.999,1.583578e+08,103896,3160.041701,9.261399e+07,0
2,2021-01-01 09:00:00,29410.00,29465.26,29120.03,29194.65,2384.231560,2021-01-01 09:59:59.999,6.984265e+07,57646,1203.433506,3.525275e+07,0
3,2021-01-01 10:00:00,29195.25,29367.00,29150.02,29278.40,1461.345077,2021-01-01 10:59:59.999,4.276078e+07,42510,775.915666,2.270555e+07,0
4,2021-01-01 11:00:00,29278.41,29395.00,29029.40,29220.31,2038.046803,2021-01-01 11:59:59.999,5.961464e+07,55414,1003.342834,2.934638e+07,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10158,2022-03-01 02:00:00,41204.65,41392.00,41009.28,41329.44,1927.695710,2022-03-01 02:59:59.999,7.940764e+07,51014,1054.518240,4.343821e+07,0
10159,2022-03-01 03:00:00,41329.44,41950.00,41248.41,41908.07,3794.773390,2022-03-01 03:59:59.999,1.579844e+08,100504,1979.471270,8.241316e+07,0
10160,2022-03-01 04:00:00,41908.08,41918.02,41500.56,41644.99,1373.721850,2022-03-01 04:59:59.999,5.721327e+07,47247,641.481210,2.671555e+07,0
10161,2022-03-01 05:00:00,41645.00,44225.84,41628.99,43026.44,8825.957450,2022-03-01 05:59:59.999,3.815874e+08,309998,5113.794440,2.208654e+08,0
10162,2022-03-01 06:00:00,43026.45,43346.92,42847.00,43160.00,4081.968880,2022-03-01 06:59:59.999,1.760338e+08,110413,1944.728370,8.388715e+07,0

In [9]:
print(min(Total_df['Open_time']))
print(max(Total_df['Open_time']))

2021-01-01 07:00:00
2022-03-01 06:00:00

In [10]:
print(min(Total_df['Close_Time']))
print(max(Total_df['Close_Time']))

2021-01-01 07:59:59.999000
2022-03-01 06:59:59.999000

### split Date hour minute second

In [11]:
Total_df['Open_time_dates'] = Total_df['Open_time'].dt.date
Total_df['Open_time_hour'] = Total_df['Open_time'].dt.hour
Total_df['Open_time_minute'] = Total_df['Open_time'].dt.minute
Total_df['Open_time_second'] =Total_df['Open_time'].dt.second

In [12]:
Total_df['Close_Time_dates'] = Total_df['Close_Time'].dt.date
Total_df['Close_Time_hour'] = Total_df['Close_Time'].dt.hour
Total_df['Close_Time_minute'] = Total_df['Close_Time'].dt.minute
Total_df['Close_Time_second'] =Total_df['Close_Time'].dt.second

In [13]:
Total_df.head()

,Open_time,Open,High,Low,Close,Volme,Close_Time,Quote_asset_volumn,Number_of_trades,buy_base_asset_volumn,buy_quote_asset_volumn,empty,Open_time_dates,Open_time_hour,Open_time_minute,Open_time_second,Close_Time_dates,Close_Time_hour,Close_Time_minute,Close_Time_second
0,2021-01-01 07:00:00,28923.63,29031.34,28690.17,28995.13,2311.811445,2021-01-01 07:59:59.999,6.676883e+07,58389,1215.359238,3.510354e+07,0,2021-01-01,7,0,0,2021-01-01,7,59,59
1,2021-01-01 08:00:00,28995.13,29470.00,28960.35,29409.99,5403.068471,2021-01-01 08:59:59.999,1.583578e+08,103896,3160.041701,9.261399e+07,0,2021-01-01,8,0,0,2021-01-01,8,59,59
2,2021-01-01 09:00:00,29410.00,29465.26,29120.03,29194.65,2384.231560,2021-01-01 09:59:59.999,6.984265e+07,57646,1203.433506,3.525275e+07,0,2021-01-01,9,0,0,2021-01-01,9,59,59
3,2021-01-01 10:00:00,29195.25,29367.00,29150.02,29278.40,1461.345077,2021-01-01 10:59:59.999,4.276078e+07,42510,775.915666,2.270555e+07,0,2021-01-01,10,0,0,2021-01-01,10,59,59
4,2021-01-01 11:00:00,29278.41,29395.00,29029.40,29220.31,2038.046803,2021-01-01 11:59:59.999,5.961464e+07,55414,1003.342834,2.934638e+07,0,2021-01-01,11,0,0,2021-01-01,11,59,59

### Save file

In [17]:
# saving the dataframe
Total_df.to_csv('bitcoin_price_1hour.csv', header=True, index=False)

In [18]:
import pandas as pd
test_Total_df = pd.read_csv('bitcoin_price_1hour.csv')
print('Done')

Done

In [19]:
test_Total_df

,Open_time,Open,High,Low,Close,Volme,Close_Time,Quote_asset_volumn,Number_of_trades,buy_base_asset_volumn,buy_quote_asset_volumn,empty,Open_time_dates,Open_time_hour,Open_time_minute,Open_time_second,Close_Time_dates,Close_Time_hour,Close_Time_minute,Close_Time_second
0,2021-01-01 07:00:00,28923.63,29031.34,28690.17,28995.13,2311.811445,2021-01-01 07:59:59.999,6.676883e+07,58389,1215.359238,3.510354e+07,0,2021-01-01,7,0,0,2021-01-01,7,59,59
1,2021-01-01 08:00:00,28995.13,29470.00,28960.35,29409.99,5403.068471,2021-01-01 08:59:59.999,1.583578e+08,103896,3160.041701,9.261399e+07,0,2021-01-01,8,0,0,2021-01-01,8,59,59
2,2021-01-01 09:00:00,29410.00,29465.26,29120.03,29194.65,2384.231560,2021-01-01 09:59:59.999,6.984265e+07,57646,1203.433506,3.525275e+07,0,2021-01-01,9,0,0,2021-01-01,9,59,59
3,2021-01-01 10:00:00,29195.25,29367.00,29150.02,29278.40,1461.345077,2021-01-01 10:59:59.999,4.276078e+07,42510,775.915666,2.270555e+07,0,2021-01-01,10,0,0,2021-01-01,10,59,59
4,2021-01-01 11:00:00,29278.41,29395.00,29029.40,29220.31,2038.046803,2021-01-01 11:59:59.999,5.961464e+07,55414,1003.342834,2.934638e+07,0,2021-01-01,11,0,0,2021-01-01,11,59,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10158,2022-03-01 02:00:00,41204.65,41392.00,41009.28,41329.44,1927.695710,2022-03-01 02:59:59.999,7.940764e+07,51014,1054.518240,4.343821e+07,0,2022-03-01,2,0,0,2022-03-01,2,59,59
10159,2022-03-01 03:00:00,41329.44,41950.00,41248.41,41908.07,3794.773390,2022-03-01 03:59:59.999,1.579844e+08,100504,1979.471270,8.241316e+07,0,2022-03-01,3,0,0,2022-03-01,3,59,59
10160,2022-03-01 04:00:00,41908.08,41918.02,41500.56,41644.99,1373.721850,2022-03-01 04:59:59.999,5.721327e+07,47247,641.481210,2.671555e+07,0,2022-03-01,4,0,0,2022-03-01,4,59,59
10161,2022-03-01 05:00:00,41645.00,44225.84,41628.99,43026.44,8825.957450,2022-03-01 05:59:59.999,3.815874e+08,309998,5113.794440,2.208654e+08,0,2022-03-01,5,0,0,2022-03-01,5,59,59
10162,2022-03-01 06:00:00,43026.45,43346.92,42847.00,43160.00,4081.968880,2022-03-01 06:59:59.999,1.760338e+08,110413,1944.728370,8.388715e+07,0,2022-03-01,6,0,0,2022-03-01,6,59,59